@charset "UTF-8";

:root { 
    --primary-color: #ff7833;
    --secondary-color: #313338;
    --text-color: #e7e7e7;
    --secondy-color-light: #444856;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    margin: 0;
    color: var(--text-color);
    background-color: var(--secondy-color-light);
    font-family: 'Nunito', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
    line-height: 1.7;
}
h1 {
    font-size: 4rem;
    color: #7b7b7b;
    margin-top: 2.4rem;
    margin-bottom: 3rem;
}

h2, h3, h4, h5, h6 {
    color: var(--primary-color);
}

h2{
    border-top: 1rem;
}

.main-header {
    flex: 0 0 26rem;
    background-color:var(--secondary-color);
}

.main {
    background-color: var(--secondy-color-light);
    flex: 1 0;
    padding: 6.5rem 6rem 7.5rem;
}

a{
    color: inherit;
}

.underline {
    text-decoration: red wavy underline;
}

.botao__redessociais {
    display: flex;
    flex-direction: row;
    gap: 2em;

}

.main, .main-header {
    font-size: 1.6rem;
}

.perfil-img {
    max-width: 50%;
}

.perfil-img {
    max-width: 10rem;
}

.main_nav {
    text-align: right;
    padding: 6.5rem 2.4rem 2.4rem;

}

.main_nav ul {
    padding: 0;
    list-style-type: none;
    
    
}
.menu__navegacao li {
    border-bottom: 1px solid #7b7b7b;
    padding-bottom: 0 0.4em;

}

.main_nav ul a {
    display: block;
    padding: 1.2rem 0;
    text-decoration: none;
    background-color: transparent;
    
}

.main_nav ul a:hover {
    background-color:var(--secondy-color-light);
    transition: padding-right 0.2s, background-color .4s;
    padding-right: 1rem;
}

li a img {
    height: 36px;
    width: 36px;
}