@charset "UTF-8";
:root { 
    --primary-color: #ff7833;
    --secondary-color: #313338;
    --text-color: #e7e7e7;
}

html {
    font-size: 62.5%;
}
body {
    display: flex;
    margin: 0;
    color: var(--text-color);
    background-color: #ccc;
    font-family: 'Nunito', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
}

.main-header {
    flex: 0 0 26rem;
    background-color:var(--secondary-color) ;
}

.main {
    background-color: #444856;
    flex: 1 0;
}

a{
    color: inherit;
}

.botao__redessociais {
    display: flex;
    flex-direction: row;
    gap: 2em;

}

.main, .main-header {
    font-size: 1.6rem;
}

.perfil-img {
    max-width: 50%;
}

.perfil-img {
    max-width: 10rem;
}
.menu__navegacao {
    list-style-type: none;
}

.menu__navegacao li {
    padding-bottom: 2em;
    border-bottom: 1px solid white;

}
.menu__navegacao a{
    text-decoration: none;

}