@charset "UTF-8";
:root { 
    --primary-color: #ff7833;
    --secondary-color: #313338;
    --text-color: #e7e7e7;
    --secondy-color-light: #444856;
}

html {
    font-size: 62.5%;
}
body {
    display: flex;
    margin: 0;
    color: var(--text-color);
    background-color: #ccc;
    font-family: 'Nunito', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
}

.main-header {
    flex: 0 0 26rem;
    background-color:var(--secondary-color);
}

.main {
    background-color: var(--secondy-color-light);
    flex: 1 0;
}

a{
    color: inherit;
}

.botao__redessociais {
    display: flex;
    flex-direction: row;
    gap: 2em;

}

.main, .main-header {
    font-size: 1.6rem;
}

.perfil-img {
    max-width: 50%;
}

.perfil-img {
    max-width: 10rem;
}

.main_nav {
    text-align: right;
    padding: 6.5rem 2.4rem 2.4rem;

}

.main_nav ul {
    padding: 0;
    list-style-type: none;
    
    
}
.menu__navegacao li {
    border-bottom: 1px solid grey;
}

.main_nav ul a {
    display: block;
    padding: 1.2rem 0;
    text-decoration: none;
    
}

.main_nav ul a:hover {
    background-color:var(--secondy-color-light);
    transition: padding-right 0.2s, background-color .4s;
    padding-right: 1rem;
}