@charset "UTF-8";
:root {
    --primary-color:#612674;
}

.max_width{
    max-width: 70.25em;
}

.container_header {
    text-align: center;
}

.top_header_nav {
    background-color: var(--primary-color);
}

.top_header_nav ul {
    list-style-type: none;
    padding: 0;
}

.top_header_nav li{
    padding: 0;
}

.top_header_nav a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 1em;

}

.top_header_nav a:hover {
    background-color: grey;
}